body {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.affix {
    position: relative;
}
.affix-bottom {
    position: absolute;
}
.tag:after {
    content: ' ';
}
.text-justify {
    text-align: justify;
}
.text-justify h1{
    text-align: left;
}
.text-justify h2{
    text-align: left;
}
.text-justify h3{
    text-align: left;
}
.text-justify h4{
    text-align: left;
}
.text-justify h5{
    text-align: left;
}
.text-justify h6{
    text-align: left;
}
#content {
    min-height: 100vh;
    padding: 0 0 200px;
    margin: 0 auto -200px;
}
#footer {
    width: 100%;
    height: 200px;
    margin-bottom: 0;
}
img {
    width: 100%;
}
@media (min-width: 768px) {
    .affix {
        position: fixed;
        top: 10px;
    }
    .affix, .affix-bottom {
        width: 165px;
    }
}
@media (min-width: 992px) {
    .affix, .affix-bottom {
        width: 220px;
    }
}
@media (min-width: 1200px) {
    .affix, .affix-bottom {
        width: 270px;
    }
}
