<!doctype html>
<html lang="de" ng-app="blog">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="JSMarkdownConverter/Markdown.Converter.js"></script>
    <script src="blog.js"></script>
</head>
<body>
    <header>Blog von Jonas</header>
    <div id="content" ng-controller="NavCtrl">
        <div id="placeholder">
            <nav id="nav_well" class="nav nav-list well" style="padding: 8px 15px;">
                <li class="nav-header">Seiten</li>
                <li ng-class="item.classes" ng-click="clicked(item)" ng-repeat="item in nav_items | orderBy:predicate">
                    <a href="{{item.url}}">{{item.text}}</a>
                </li>
                <li ng-show="articles.length > 0" class="nav-header">neue Eintr&auml;ge</li>
                <li ng-repeat="art in articles.filter(isNew) | orderBy:predicate"><a href="#/single/blog/{{art.file}}">{{art.title}}</a></li>
            </nav>
        </div>
        <main id="main" ng-view>
        </main>
    </div>
    <footer id="footer">
        <div>
            Dank an
            <ul>
                <li><a href="http://bja-fachstelle.de">Bistum Mainz / SDFV</a></li>
                <li>alle anderen!</li>
            </ul>
        </div>
        <div>
            Gebaut mit:
            <ul>
                <li><a href="http://bootswatch.com/">Bootswatch</a> <a href="http://bootswatch.com/readable/">Readable</a></li>
                <li><a href="http://brackets.io">Brackets</a></li>
                <li>HTML, CSS, JS</li>
                <li><a href="http://angularjs.org/">AngularJS</a></li>
            </ul>
        </div>
        <div>
            Erfordert Firefox 22+ oder einen vergleichbaren Browser (z.B. Chrome 28+)
        </div>
    </footer>
</body>
</html>
